@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'open_sansregular';
}
.logo{
    font-size: 28px;
    font-family: 'open_sanssemibold';
}
.header-top{
    padding: 25px 0;
}
.nav-list li{
    display: inline-block;
}
.nav-list li+li{
    margin-left: 10px;
}
.nav-list li a{
    color: #36474f;
    font-size: 16px;
    font-family: 'open_sanssemibold';
    text-decoration: none;
}
.social-list, .nav-list{
    display: inline-block;
}
.social-list{
    margin-left: 50px;
}
.social-list li a,
.social-list li,
.footer-social-list li,
.footer-social-list li a{
  display: inline-block;
  vertical-align: bottom;
}
.social-list li a,
.footer-social-list li a{
  width: 25px;
  height: 24px;
  background-repeat: no-repeat;
}
.social-list li:first-child a{
  background-image: url(../images/social.png);
  background-position: -3px 0;
}
.social-list li:first-child:hover a{
  background-image: url(../images/social-hover.png);
  background-position: -3px 0;
}
.social-list li:nth-child(2) a{
  background-image: url(../images/social.png);
  background-position: -30px 0;
}
.social-list li:nth-child(2):hover a{
  background-image: url(../images/social-hover.png);
  background-position: -30px 0;
}
.social-list li:nth-child(3) a{
  background-image: url(../images/social.png);
  background-position: -56px 0;
}
.social-list li:nth-child(3):hover a{
  background-image: url(../images/social-hover.png);
  background-position: -56px 0;
}
.social-list li:nth-child(3) a{
  width: 37px;
}
.header-top-nav{
    float: right;
    margin-top: -30px;
}
.header-bottom{
    background-color: #73c1d8;
    padding: 32px 0;
    -moz-box-shadow: 0 5px 10px 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.15);
    z-index: 100;
}
header{
  position: relative;
}
.logo a{
    text-decoration: none;
    color: #2196f3;
}
.header-bottom-nav li{
    display: inline-block;
}
.header-bottom-nav{
  position: relative;
}
.header-bottom-nav a{
   text-decoration: none;
   color: #fff;
   font-family: 'open_sansbold';
}
.header-bottom-nav a:hover,
.header-bottom-nav a:active,
.header-bottom-nav a:focus,
.header-bottom-nav a.active{
  color: #3d5865;
}
.header-bottom-nav li+li{
    margin-left: 60px;
}
.search{
    float: right;
    margin-top: -20px;
    position: relative;
    cursor: pointer;
    background-position: 0 0;
}
.search:active:before,
.search:focus:before{
  content:  url(../images/search-active.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 29px;
}
.search:before,
.search.collapsed:before{
  content:  url(../images/search.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 29px;
}
.fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
footer{
  margin-top: 100px;
  width: 100%;
  background: #3d5865;
}
.first-column{
  background-color: #597d8e;
}
#toTop {
    background: #fbfbfb;
    border-radius: 100%;
    padding: 24px 19px;
    width: 65px;
    height: 65px;
    display: inline-block;
    float: right;
    margin-top: 72px;
    bottom: 50px;
    position:fixed;
    right:15px;
    cursor:pointer;
    display:none;
    -moz-box-shadow: 0 10px 20px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 10px 20px 3px rgba(0,0,0,0.15);
    box-shadow: 0 10px 20px 3px rgba(0,0,0,0.15);
}
h3.footer-heading{
  color: #fff;
  font-size: 18px;
  font-family: 'open_sansbold';
  margin-bottom: 30px;
  margin-top: 50px;
}
.footer-contacts{
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}
.footer-contacts span{
  color: #9bbff5;
}
.first-column-links a,
.first-column-links{
  color: #c3dbff;
  font-size: 12px;
}
.first-column-links{
  margin: 25px 0;
}
.years{
  font-size: 16px;
  color: #fff;
  font-family: 'open_sansbold';
  margin-bottom: 45px;
}
footer .col-lg-4{
  padding-left: 50px;
}
.footer-box{
  width: 190px;
  margin-bottom: 20px;
}
.footer-links li{
  margin-bottom: 20px;
  list-style-type: none;
}
.footer-links a{
  color: #9bbff5;
  font-size: 14px;
  line-height: 1.3;
}
a.show-all{
  color: #fff;
  font-size: 16px;
  font-family: 'open_sansbold';
}
.footer-social-list li:first-child a{
  background-image: url(../images/social-footer.png);
  background-position: -3px 0;
}
.footer-social-list li:first-child:hover a{
  background-image: url(../images/social-footer-hover.png);
  background-position: -3px 0;
}
.footer-social-list li:nth-child(2) a{
  background-image: url(../images/social-footer.png);
  background-position: -30px 0;
}
.footer-social-list li:nth-child(2):hover a{
  background-image: url(../images/social-footer-hover.png);
  background-position: -30px 0;
}
.footer-social-list li:nth-child(3) a{
  background-image: url(../images/social-footer.png);
  background-position: -56px 0;
}
.footer-social-list li:nth-child(3):hover a{
  background-image: url(../images/social-footer-hover.png);
  background-position: -56px 0;
}
.footer-social-list li:nth-child(3) a{
  width: 37px;
}

