{% load staticfiles %}

    <div id="owl" class="owl-carousel">
      <div class="item"><img src="{% static 'images/carousel/owl1.png' %}" alt="">
        <div class="item-info">
            <h1 class="owl-heading">COMPLETE TURNKEY SOLUTIONS FOR SATELLITE COMMUNICATIONS</h1>
            <div class="buttons">
                <button class="white-button left-small-btn">View products</button>
                <button class="btn-primary blue-button right-btn">Contact sales</button>
            </div>
        </div>
      </div>
      <div class="item"><img src="{% static 'images/carousel/owl2.png' %}" alt="">
        <div class="item-info">
            <h1 class="owl-heading">CANNOT FIND THE EQUIPMENT YOU NEED? WE CAN HELP TO DEVELOP A CUSTOM SOLUTION.</h1>
            <div class="buttons">
                <button class="btn-primary blue-button right-btn">Contact sales</button>
            </div>
        </div>
      </div>
      <div class="item"><img src="{% static 'images/carousel/owl3.png' %}" alt="">
        <div class="item-info">
            <h1 class="owl-heading">MARKET SERVED</h1>
            <div class="buttons">
                <button class="white-button big-btn">Satellite communications</button>
                <button class="btn-primary blue-button right-btn">Networks</button>
                <button class="btn-primary blue-button big-btn">Internet of things</button>
                <button class="white-button right-btn">R&F Microwave</button>
            </div>
        </div>
      </div>
    </div>
