{% load staticfiles %}


   <div class="container">
            <div class="row">
                <div class="col-lg-4 first-column">

                    <h3 class="footer-heading">US Office:</h3>
                    <div class="footer-box">

                    <p class="footer-contacts">2204 Oak Haven Ave
        Simi Valley, CA 93063
        USA</p>
                    <p class="footer-contacts">Telephone: <span>805-277-9685</span></p>
                    <p class="footer-contacts">Fax: <span>805-t</span></p>
                    <p class="footer-contacts">Email: <span>info@xelsat.com</span></p>


                    <div class="first-column-links"><a href="">Terms</a> | <a href="">Policy</a></div>
                    </div>
                    <div class="years">© 2006 - {% now "Y" %}, Xelsat</div>
                </div>
                <div class="col-lg-4">
                     <h3 class="footer-heading">News & Events:</h3>
                     <div class="footer-box">
                      <div class="footer-links">
                         <li><a href="">Activate iDirect X1 Modem
        and get 50 Discount</a></li>
                         <li><a href="">Special offer on Intelsat - 901</a></li>
                         <li><a href="">Oil and gas Services Solution</a></li>
                     </div>
                     </div>
                     <a class="show-all" href="{% url 'post_list' %}">SHOW ALL</a>
                </div>
                <div class="col-lg-4">
                     <h3 class="footer-heading">Resources:</h3>
                     <div class="footer-links footer-box">
                         <li><a href="">Glossary of satellite
        communication</a></li>
                         <li><a href="">Satellite Trade Association</a></li>
                         <li><a href="">Government Agencies</a></li>
                     </div>
                     <ul class="footer-social-list">
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                     </ul>
                </div>
            </div>
        </div>
