{% load staticfiles %}


 <div class="content">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h2>Market served</h2>
    			</div>
    		</div>
    	</div>
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-3">
    				<div class="column">
    					<div class="column-image"><img src="{% static 'images/img1.png' %}" alt=""></div>
    					<div class="column-heading"><a href="">Satellite Communications</a></div>
    					<div class="column-description">Xelsat offers products of worldwide known suppliers of satellite communication such as AnaCom, IRT, NJRC, Terrasat and more.</div>
    				</div>
    			</div>
    			<div class="col-lg-3">
    				<div class="column">
    					<div class="column-image"><img src="{% static 'images/img2.png' %}" alt=""></div>
    					<div class="column-heading"><a href="">Networks</a></div>
    					<div class="column-description">Xelsat provides logistics and reseller support for the following products in this market segment –Network Time Servers, Time and Frequency Standards, Distribution Amplifiers, IP Digital and Analog Clocks, etc.</div>
    				</div>
    			</div>
    			<div class="col-lg-3">
    				<div class="column">
    					<div class="column-image"><img src="{% static 'images/img3.png' %}" alt=""></div>
    					<div class="column-heading"><a href="">R&F Microwave</a></div>
    					<div class="column-description">Xelsat provides logistics and reseller support for the following products in this market segment –RF Frequency converters, crystal oscillators, Synthesizers, Modified LNB’s, LNB controllers, microwave switches, coaxial relays, wave guides, Diplexers, circulators and Isolators.</div>
    				</div>
    			</div>
    			<div class="col-lg-3">
    				<div class="column">
    					<div class="column-image"><img src="{% static 'images/img4.png' %}" alt=""></div>
    					<div class="column-heading"><a href="">Internet of things</a></div>
    					<div class="column-description">Xelsat is developing a very innovative sensor network for the ground satellite equipment. Please stay tuned.</div>
    				</div>
    			</div>
    		</div>
    		<div class="customers">
    			<div class="row">
    				<h2>some of our customers</h2>
    			</div>
    		<div class="row customers-row">
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer1.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer2.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer3.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer4.png' %}" alt=""></div>
    		</div>
    		<div class="row customers-row">
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer5.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer6.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer7.png' %}" alt=""></div>
    				<div class="col-lg-3 col-xs-12 item-customer"><img src="{% static 'images/customers/customer8.png' %}" alt=""></div>
    		</div>
    		</div>
    		<div class="products">
    			<div class="row">
    				<h2>types of products</h2>
    			</div>
    		<div class="row products-row">
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product1.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">BUCs</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product2.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">LNB</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product3.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">AMPLIFIERS</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product4.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">TRANSCEIVERS</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product5.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">UP/DOWN
CONVERTERS</a></div>
    				</div>
    		</div>
    		<div class="row products-row">
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product6.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">MODEMS</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product7.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">VSAT
SYSTEMS</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product8.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">TEST
EQUIPMENT</a></div>
    				</div>
    				<div class="box-product">
    					<div class="item-product">
    					    <img src="{% static 'images/products/product9.png' %}" alt="">
    					</div>
    					<div class="product-title"><a href="">USED
EQUIPMENT</a></div>
    				</div>
    				<a href=""	class="link">
    					    <img src="{% static 'images/link-next.png' %}" alt="">
    			    </a>
    		</div>
    		</div>
    	</div>
    </div>
