{% load staticfiles %}

<div class="main-top">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<h2>TOP PRODUCTS</h2>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-lg-12">
    				<div id="owl-second" class="owl-carousel">
						  <div class="item">
						  	 <div class="product-image-size">
						  	      <img src="{% static 'images/carousel-products/item1.png' %}" alt="">
						  	 </div>
                             <h4 class="item-heading"><a href="">NJR Ku-Band</a></h4>
                             <div class="item-description">block upconverter
1 - 8 watts Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ipsa corrupti ut voluptatum dignissimos minus consectetur quasi fuga maxime, voluptate ex sit voluptates officiis dolores, quam natus hic sunt, expedita?</div>
						  </div>
						  <div class="item">
						  	<div class="product-image-size">
						  	 	<img src="{% static 'images/carousel-products/item2.png' %}" alt="">
						  	 </div>
                               <h4 class="item-heading"><a href="">Datum Systems</a></h4>
                               <div class="item-description">PSM-500L Series
Satellite Modem</div>
						  </div>
						  <div class="item">
						  	<div class="product-image-size">
						  		<img src="{% static 'images/carousel-products/item3.png' %}" alt="">
						  	</div>
                               <h4 class="item-heading"><a href="">Patriot Antenna</a></h4>
                               <div class="item-description">1.2m Patriot Ku-band
VSAT antenna</div>
						  </div>
						  <div class="item">
						  	  <div class="product-image-size">
						  	  	 <img src="{% static 'images/carousel-products/item4.png' %}" alt="">
						  	  </div>
                               <h4 class="item-heading"><a href="">PowersStream™</a></h4>
                               <div class="item-description">block upconverter
16W Fanless</div>
						  </div>
						  <div class="item">
						  	 <div class="product-image-size">
						  	      <img src="{% static 'images/carousel-products/item1.png' %}" alt="">
						  	 </div>
                             <h4 class="item-heading"><a href="">NJR Ku-Band</a></h4>
                             <div class="item-description">block upconverter
1 - 8 watts</div>
						  </div>
						  <div class="item">
						  	<div class="product-image-size">
						  	 	<img src="{% static 'images/carousel-products/item2.png' %}" alt="">
						  	 </div>
                               <h4 class="item-heading"><a href="">Datum Systems</a></h4>
                               <div class="item-description">PSM-500L Series
Satellite Modem</div>
						  </div>
						  <div class="item">
						  	<div class="product-image-size">
						  		<img src="{% static 'images/carousel-products/item3.png' %}" alt="">
						  	</div>
                               <h4 class="item-heading"><a href="">Patriot Antenna</a></h4>
                               <div class="item-description">1.2m Patriot Ku-band
VSAT antenna</div>
						  </div>
						  <div class="item">
						  	  <div class="product-image-size">
						  	  	 <img src="{% static 'images/carousel-products/item4.png' %}" alt="">
						  	  </div>
                               <h4 class="item-heading"><a href="">PowersStream™</a></h4>
                               <div class="item-description">block upconverter
16W Fanless</div>
						  </div>
                    </div>
    			</div>
    		</div>
    	</div>
    </div>
